.left {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.option-card {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 1em;
  border-radius: 10px;
  padding: 1em 2em;
  color: var(--text-50);
}

.right {
  display: flex;
  flex-direction: column;

  min-height: 3rem;
}

.right h4,
.right h5 {
  margin: 0;
}

.dot {
  background-color: var(--background-50);
  width: 29px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  background-color: var(--primary-500);
  width: 21px;
  height: 21px;
}

.dot,
.check {
  border-radius: 50%;
}
