#root {
  width: 100%;
  padding: 1em 3em;
}

.main-container {
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: 100%;
  height: 100%;
}

.select-plan {
  display: flex;
  width: 40%;
  background-color: var(--primary-300);
  color: var(--text-50);
  border-radius: 10px;
}